@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --Linear_gradient: linear-gradient(45deg, #6448fe, #600594) 1; /*(active input border)*/
  --Red: hsl(0, 100%, 66%); /*(input errors)*/
  --White: hsl(0, 0%, 100%);
  --Light_grayish_violet: hsl(270, 3%, 87%);
  --Dark_grayish_violet: hsl(279, 6%, 55%);
  --Very_dark_violet: hsl(278, 68%, 11%);
}

body {
  width: 100%;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 30% 100vh;
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
}

.start__status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 5%;
}

.card__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70vh;
}

.card__front {
  background-image: url(../images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: 350px;
  border-radius: 10px;
  padding: 1rem;
  padding-right: 20%;
  width: 30%;
  height: 25%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.card__logo {
  width: 20%;
}

.card__number {
  color: var(--Light_grayish_violet);
}

.card__name {
  color: var(--Light_grayish_violet);
}

.card__date {
  color: var(--Light_grayish_violet);
}

.card__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__date-container {
  display: flex;
  position: relative;
}

.card__back {
  background: url(../images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: 350px;
  border-radius: 10px;
  padding-top: 5.5rem;
  padding-left: 15rem;
  width: 400px;
  height: 50%;
  margin-top: 5rem;
  align-self: flex-end;
  box-sizing: border-box;
}

.card__security-nr {
  color: var(--Light_grayish_violet);
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.form__name-label {
  color: var(--Very_dark_violet);
  margin-bottom: 0.3rem;
}

#form__name {
  padding: 0.5rem;
}

.form__number-label {
  margin-top: 1rem;
}

.form__number-label {
  color: var(--Very_dark_viole);
  margin-bottom: 0.3rem;
}

#form__number {
  padding: 0.5rem;
}

.flex__container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.labels {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.date__label {
  color: var(--Very_dark_viole);
  width: 100%;
  margin-bottom: 0.3rem;
}

.cvc__label {
  color: var(--Very_dark_viole);
  width: 100%;
  margin-bottom: 0.3rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#form__date-month {
  padding: 0.5rem;
  width: 35%;
}

#form__date-year {
  padding: 0.5rem;
  width: 35%;
  margin-left: 0.5rem;
}

#form__cvc {
  padding: 0.5rem;
  width: 93%;
}

.form__name-error {
  color: var(--Red);
  font-size: small;
}

.form__submit {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: var(--Very_dark_violet);
  color: var(--White);
  border-radius: 5px;
  border: none;
}

.form__submit:hover {
  cursor: pointer;
}

.hide__container {
  display: none;
}

.end__status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.completed__title {
  color: var(--Very_dark_violet);
}

.completed__text {
  color: var(--Dark_grayish_violet);
}

.completed__submit {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: var(--Very_dark_violet);
  color: var(--White);
  border-radius: 5px;
  width: 120%;
  border: none;
}

#form__name:focus,
#form__number:focus,
#form__date-month:focus,
#form__date-year:focus,
#form__cvc:focus {
  border: 1px solid;
  border-image: var(--Linear_gradient);
}

.border__error {
  border: 1px solid var(--Red);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url(../images/bg-main-mobile.png);
    background-size: 100% 20%;
  }

  .start__status {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
  }

  .card__container {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    height: 40vh;
    position: relative;
  }

  .card__front {
    background-image: url(../images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: 250px;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    height: 30%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: 10rem;
    z-index: 1;
  }

  .card__back {
    background: url(../images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: 250px;
    border-radius: 10px;
    width: 100%;
    height: 30%;
    align-self: flex-end;
    box-sizing: border-box;
    position: absolute;
    bottom: 13rem;
    padding-top: 3.7rem;
    padding-left: 11rem;
  }

  .form__container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .end__status {
    margin-top: 2rem;
    height: 40vh;
  }

  #form__date-month {
    width: 25%;
  }

  #form__date-year {
    width: 25%;
  }

  #form__cvc {
    width: 89%;
  }
}
