@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --Linear_gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /*(active input border)*/
  --Red: hsl(0, 100%, 66%); /*(input errors)*/
  --White: hsl(0, 0%, 100%);
  --Light_grayish_violet: hsl(270, 3%, 87%);
  --Dark_grayish_violet: hsl(279, 6%, 55%);
  --Very_dark_violet: hsl(278, 68%, 11%);
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  background-image: url(/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 30%;
}

.start__status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 5%;
}

.card__container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.card__front {
  background: url(/images/bg-card-front.png);
  padding: 2rem;
  background-size: auto;
  background-repeat: no-repeat;
  align-self: flex-start;
}

.card__number {
  color: var(--Light_grayish_violet);
}

.card__name {
  color: var(--Light_grayish_violet);
}

.card__date {
  color: var(--Light_grayish_violet);
}

.card__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__date-container {
  display: flex;
}

.card__back {
  background: url(/images/bg-card-back.png);
  background-repeat: no-repeat;
  align-self: flex-end;
}

.card__security-nr {
  color: var(--Light_grayish_violet);;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.form__name-label {
  color: var(--Dark_grayish_violet);
}

#form__name {
  padding: 0.5rem;
}

#form__name:active {
  border-color: var(--Linear_gradient);
}

.form__number-label {
  margin-top: 1rem;
}

.form__number-label {
  color: var(--Dark_grayish_violet);
}

#form__number {
  padding: 0.5rem;
}

#form__number:hover {
  box-shadow: var(--Linear_gradient);
}

.labels {
  margin-top: 1rem;
}

.date__label {
  color: var(--Dark_grayish_violet);
}

.cvc__label {
  margin-left: 0.7rem;
  color: var(--Dark_grayish_violet);
}

.inputs {
  display: flex;
}

#form__date-month {
  padding: 0.5rem;
  width: 20%;
}

#form__date-year {
  padding: 0.5rem;
  width: 20%;
  margin-left: 0.5rem;
}

#form__cvc {
  padding: 0.5rem;
  width: 50%;
  margin-left: 0.5rem;
}

.form__submit {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: var(--Very_dark_violet);
  color: var(--White);
  border-radius: 5px;
}

.form__submit:hover {
  cursor: pointer;
}

.end__status {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
